/*
-------01 TYPOGRAPHY SYSTEM

-Font weights:
Default : 400
medium: 500
semi-bold: 600
bold: 700
-Line heights:
Default : 1
small: 1.05
medium: 1.2
paragraph: 1.6

-Letter spacing
-0.5px
0.75px

FONT SIZE SYSTEM (PX)
10 / 12 / 14 / 16 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
------01 COLORS
--Colors
-Primary: #e67e22
-Tints: #fae5d3
#fdf2e9
-Shades:#cf711f
#42560a
-Greys: 
#6f6f6f lightest gray allowed on #fdf2e9
#555
#333
#e67322


------03 SHADOWS
------04 BORDER-RADIUS
default: 9px
medium: 11px
------04 WHITESPACE
-- Spacing system (px)
2 / 4 / 8/ /12/ /16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik';
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Rubik', sans-serif;
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  
}

.margin-right-sm{
  margin-right: 1.6rem;
  line-height: 1.2;
}

/* .test{ */
  /* width: 1000px; */
  /* background-color: red;
  max-width: 3rem;
  font-size: 1.8rem;
  padding : 7rem;

} */

/* ********************* */
/* General Reusable components */
/* ******************** */

/* comment below margin code and uncomment not code */
.container{
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  /* margin-bottom: 9.6rem; */
}

.grid{
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem ;
  
  /* margin-bottom: 9.6rem; */
}

.grid:not(:last-child){
  margin-bottom: 9.6rem;
}

.grid--2--cols{
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols{
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols{
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v{
  align-items: center;
}

.center-text{
  text-align: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary{

  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary{
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary{
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.heading-tertiary{
  font-size: 3.0rem;
  font-weight: 500  ;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading{
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px
}

.btn{
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  
  transition: all 300ms
}

.btn-form{
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}

.btn-form:hover{
  background-color: white;
  color: #555;
}

.btn--full{
  background-color: #e67e22 ;
}

.btn--full:hover{
  /* color: blue; */
  background-color: #cf711f;
  /* background-color: red; */
  /* background-color: blue; */
}

.btn--outline:link,
.btn--outline:visited{
  background-color: white;
  color: rgb(37, 35, 35);
}

.btn--outline:hover,
.btn--outline:active{
  background-color: #fae5d3;
  border: 1px solid white;
  /* trick to add border inside*/
  box-shadow: inset 0 0 0 1px white;
}

.link{
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}

.link:hover{
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

strong{
  font-weight: 500;
}

.margin-bottom-md{
  margin-bottom: 4.8rem !important;
}

.list {
  list-style-type: none;

  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;

  display: flex;
}

.list-item span {
  align-self: center;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus{
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.582);
  border-radius: 4px;
}